<!DOCTYPE html>
<html lang="fr" ng-app="app">
<head>
  <meta charset="utf-8" />
  <title>Exercice 3</title>
  <link rel="stylesheet" href="style.css" />
</head>
<body ng-controller="formCtrl">
  <form name="myForm" novalidate>
    <label for="formLastName">Nom</label>
    <input type="text" id="formLastName" ng-model="formLastName" name="formLastName" required/>
    <p class="danger" ng-show="myForm.formLastName.$touched && myForm.formLastName.$invalid">Vous devez inscrire votre nom</p>
    <label for="formEmail">Email</label>
    <input type="text" id="formEmail" ng-model="formEmail" name="formEmail" ng-pattern="/^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.([a-zA-Z]){2,4}$/" required/>
    <p class="danger" ng-show="myForm.formEmail.$touched && myForm.formEmail.$invalid">Le champ est vide ou ladresse mail n'est pas valide (ex: johndoe@gmail.com)</p>
    <label for="formTopic">Sujet</label>
    <input type="text" id="formTopic" ng-model="formTopic" name="formTopic" required/>
    <p class="danger" ng-show="myForm.formTopic.$touched && myForm.formTopic.$invalid">Vous devez inscrire un sujet</p>
    <label for="formText">Texte</label>
    <textarea type="text" id="formText" ng-model="formText" name="formText" required></textarea>
    <p class="danger" ng-show="myForm.formText.$touched && myForm.formText.$invalid">Vous devez inscrire un texte</p>
    <button ng-click="clickButton()">Envoyer</button>
  </form>
  <div ng-repeat="globalArrays in globalArray">
    <a href="#!{{globalArrays}}">{{globalArrays[3]}}</a>
  </div>
  <div ng-view></div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
  <script src="script.js"></script>
</body>
</html>
